{% extends "layout.twig" %}

{% block content %}

  <div class="container">
    <h1>{{ getOption('theme_settings__404_page__title') }}</h1>
    {{ getOption('theme_settings__404_page__text') }}
  </div>

{% endblock %}
