// =============================================================================
// page.scss - General styles
// ========================================================================== */
body {
  // sass-lint:disable-block no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: radial-gradient(circle, rgba(149,148,230,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
}
#page {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

#subpage {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

#main {
  flex: 1 1 auto;
  min-height: 1px;
}

//.container, .container-fluid{
//  margin-bottom: rem(114);
//}
//
//.container:last-of-type {
//  margin-bottom: 6.1rem;
//}

.teaser:hover {

  .news-plugin-teaser-content, span {
    background-color: $secondary;
    color: $white;
  }

  .zoom-picture-hover .picture img {
    transform: translateZ(0) scale(1.1);
  }

  .icon-arrow-right {
    right: -.5rem;
  }
}

.icon-arrow-right {
  color: $secondary;
  transition: right .3s ease-out .1s,color .3s ease;
}

.svg {
  fill: $secondary;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}


/* table */
tr {
  /*cursor: pointer;*/
}

/* form for entering name and surname */
#name {
  margin-bottom: 15px;
}

/* pagination */
.cs_pagination {
  font-size: 20px;
}

.page-numbers {
  position: relative;
  padding: 0.2rem 0.45rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;

  /* current state */
}

.page-numbers.current {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

a.prev.page-numbers {
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;

  /* current state */
  display: none;
}

a.next.page-numbers {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;

  /* current state */
  display: none;
}

/* navbar dropdown hover effects */
.dropdown-navlink:hover {
  background-color: #E8E8E8;
}

/* modal windows */
#success_tic .page-body{
  max-width:300px;
  background-color:#FFFFFF;
  margin:10% auto;
}
#success_tic .page-body .head{
  text-align:center;
}
/* #success_tic .tic{
  font-size:186px;
} */
#success_tic .close{
  opacity: 1;
  position: absolute;
  right: 0px;
  font-size: 30px;
  padding: 3px 15px;
  margin-bottom: 10px;
}
#success_tic .checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #1ab394;
  position: absolute;
}
#success_tic .checkmark-circle .checkmark {
  border-radius: 5px;
}
#success_tic .checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#success_tic .checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid #fff;
  border-top: 15px solid #fff;
  border-radius: 2.5px !important;
  content: '';
  left: 35px;
  top: 80px;
  position: absolute;
}

@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@-moz-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}

/* add new question error class*/
.has-warning {
  border-color: red;
}

.form-control-feedback {
  color: red;
}

* {box-sizing: border-box}
body {
  font-family: Verdan
  a, sans-serif;
  margin:0;
  display: flex;
}

img {vertical-align: middle;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slider-category {
  font-size: 24px;
  /*padding: 8px 12px;*/
  position: absolute;
  text-align: center;

  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);


}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  /*background-color: #717171;*/
}

/*!* Fading animation *!*/
/*.fade {*/
/*  -webkit-animation-name: fade;*/
/*  -webkit-animation-duration: 1.5s;*/
/*  animation-name: fade;*/
/*  animation-duration: 1.5s;*/
/*}*/

/*@-webkit-keyframes fade {*/
/*  from {opacity: .4}*/
/*  to {opacity: 1}*/
/*}*/

/*@keyframes fade {*/
/*  from {opacity: .4}*/
/*  to {opacity: 1}*/
/*}*/

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
