{#<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}



{#<div class="container">#}
{#  <div class="row justify-content-center">#}
{#    <div class="col-9">#}
{#      <h1 class="text-dark">Pridanie otázky</h1>#}
{#      <p><% activeGame.test %></p>#}
{#      <form type="POST" @submit="addNewQuestion">#}
{#        <div class="form-group">#}
{#          <label for="exampleInputEmail1">Otázka</label>#}
{#          <input type="text" class="form-control" id="new-question-title" required data-error="Name is required">#}
{#        </div>#}
{#        <div class="form-group">#}
{#          <label for="exampleInputPassword1">Odpoveď A</label>#}
{#          <input type="text" class="form-control" id="new-question-answer-a" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#          <label for="exampleInputPassword1">Odpoveď B</label>#}
{#          <input type="text" class="form-control" id="new-question-answer-b" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#          <label for="exampleInputPassword1">Odpoveď C</label>#}
{#          <input type="text" class="form-control" id="new-question-answer-c" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#          <label for="exampleInputPassword1">Odpoveď D</label>#}
{#          <input type="text" class="form-control" id="new-question-answer-d" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#          <label for="inputState">Správna odpoveď</label>#}
{#          <select id="right_answer_select" class="form-control" required>#}
{#            <option value="">Vybrať správnu odpoveď</option>#}
{#            <option value="answer_a">Odpoveď A</option>#}
{#            <option value="answer_b">Odpoveď B</option>#}
{#            <option value="answer_c">Odpoveď C</option>#}
{#            <option value="answer_d">Odpoveď D</option>#}
{#          </select>#}
{#        </div>#}
{#        <div class="form-group">#}
{#          <label for="inputState">Kategória</label>#}
{#          <select id="question_selected_category" class="form-control" required>#}
{#            <option value="">Vyberte príslušnú kategóriu</option>#}
{#            {% for category in categories %}#}
{#              <option value="{{category.slug}}">{{ category.name }}</option>#}
{#            {% endfor %}#}
{#          </select>#}
{#        </div>#}
{#        <button type="submit" class="btn btn-info btn-lg" data-toggle="modal" id="add-new-question-button" class="btn btn-primary">Pridat</button>#}
{#      </form>#}
{#      <!-- Modal -->#}



{#    </div>#}
{#  </div>#}
{#</div>#}


<add-new-question>
{#    <div class="container mt-3 mt-sm-5">#}
{#      <div class="row justify-content-center">#}
{#        <div class="col-md-6">#}
{#          <form id="form" method="POST" @submit="validateForm">#}
{#            <div class="form-group">#}
{#              <label class="form-control-label" for="new_question_title">Názov</label>#}
{#              <input id="new_question_title" name="name_question" class="form-control form-control-warning" v-bind:class="{ 'has-warning': attemptSubmit && missingQuestionName || addExistedQuestion }"  type="text" v-model="name">#}
{#              <div class="form-control-feedback" v-if="attemptSubmit && missingQuestionName">Vyplňte prosím toto políčko</div>#}
{#              <div class="form-control-feedback" v-if="attemptSubmit && matchExistedQuestionName">Otázka s takýmto názvom už existuje</div>#}
{#            </div><!-- /form-group -->#}
{#            <div class="form-group">#}
{#              <label class="form-control-label" for="new_question_answer_a">Odpoveď A</label>#}
{#              <input id="new_question_answer_a" name="question_answer_a" class="form-control form-control-warning" v-bind:class="{ 'has-warning': attemptSubmit && missingQuestionAnswerA }"  type="text" v-model="answer_a">#}
{#              <div class="form-control-feedback" v-if="attemptSubmit && missingQuestionAnswerA">Vyplňte prosím toto políčko</div>#}
{#            </div><!-- /form-group -->#}
{#            <div class="form-group">#}
{#              <label class="form-control-label" for="new_question_answer_b">Odpoveď B</label>#}
{#              <input id="new_question_answer_b" name="question_answer_a" class="form-control form-control-warning" v-bind:class="{ 'has-warning': attemptSubmit && missingQuestionAnswerB }"  type="text" v-model="answer_b">#}
{#              <div class="form-control-feedback" v-if="attemptSubmit && missingQuestionAnswerB">Vyplňte prosím toto políčko</div>#}
{#            </div><!-- /form-group -->#}
{#            <div class="form-group">#}
{#              <label class="form-control-label" for="new_question_answer_c">Odpoveď C</label>#}
{#              <input id="new_question_answer_c" name="question_answer_a" class="form-control form-control-warning" v-bind:class="{ 'has-warning': attemptSubmit && missingQuestionAnswerC }"  type="text" v-model="answer_c">#}
{#              <div class="form-control-feedback" v-if="attemptSubmit && missingQuestionAnswerC">Vyplňte prosím toto políčko</div>#}
{#            </div><!-- /form-group -->#}
{#            <div class="form-group">#}
{#              <label class="form-control-label" for="new_question_answer_d">Odpoveď D</label>#}
{#              <input id="new_question_answer_d" name="question_answer_a" class="form-control form-control-warning" v-bind:class="{ 'has-warning': attemptSubmit && missingQuestionAnswerD }"  type="text" v-model="answer_d">#}
{#              <div class="form-control-feedback" v-if="attemptSubmit && missingQuestionAnswerD">Vyplňte prosím toto políčko</div>#}
{#            </div><!-- /form-group -->#}
{#            <div class="form-group">#}
{#              <label>Správna odpoveď</label>#}
{#              <select id="right_answer_select" class="form-control form-control-warning" v-bind:class="{ 'has-warning': attemptSubmit && missingRightAnswer }"  v-model="notificationPreference">#}
{#                <option value="">Vybrať správnu odpoveď</option>#}
{#                <option value="answer_a">Odpoveď A</option>#}
{#                <option value="answer_b">Odpoveď B</option>#}
{#                <option value="answer_c">Odpoveď C</option>#}
{#                <option value="answer_d">Odpoveď D</option>#}
{#              </select>#}
{#              <div class="form-control-feedback" v-if="attemptSubmit && missingRightAnswer">Priradte prosím príslušnú kategóriu k danej otázke</div>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                         <label>Kategória</label>#}
{#              <select id="question_selected_category" class="form-control" required>#}
{#            <!--                            <option value="">Vyberte príslušnú kategóriu</option>-->#}
{#            <!--&lt;!&ndash;                            {% for category in categories %}&ndash;&gt;-->#}
{#            <!--&lt;!&ndash;                            <option value="{{category.slug}}">{{ category.name }}</option>&ndash;&gt;-->#}
{#            <!--&lt;!&ndash;                            {% endfor %}&ndash;&gt;-->#}
{#            <!--                        </select>-->#}
{#            <!--                    </div>-->#}
{#            <button class="btn btn-primary">Submit</button>#}
{#          </form>#}
{#        </div><!-- /col -->#}
{#      </div><!-- /row -->#}
{#    </div><!-- /container -->#}
</add-new-question>
