{#<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
{% set categories = function('getQuestionsCategories') %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
      <h1 class="text-dark">Pridanie otázky</h1>
      <p><% activeGame.test %></p>
      <form type="POST" @submit="addNewQuestion">
        <div class="form-group">
          <label for="exampleInputEmail1">Otázka</label>
          <input type="text" class="form-control" id="new-question-title" required data-error="Name is required">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Odpoveď A</label>
          <input type="text" class="form-control" id="new-question-answer-a" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Odpoveď B</label>
          <input type="text" class="form-control" id="new-question-answer-b" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Odpoveď C</label>
          <input type="text" class="form-control" id="new-question-answer-c" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Odpoveď D</label>
          <input type="text" class="form-control" id="new-question-answer-d" required>
        </div>
        <div class="form-group">
          <label for="inputState">Správna odpoveď</label>
          <select id="right_answer_select" class="form-control" required>
            <option value="">Vybrať správnu odpoveď</option>
            <option value="answer_a">Odpoveď A</option>
            <option value="answer_b">Odpoveď B</option>
            <option value="answer_c">Odpoveď C</option>
            <option value="answer_d">Odpoveď D</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Kategória</label>
          <select id="question_selected_category" class="form-control" required>
            <option value="">Vyberte príslušnú kategóriu</option>
            {% for category in categories %}
              <option value="{{category.slug}}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-info btn-lg" data-toggle="modal" id="add-new-question-button" class="btn btn-primary">Pridat</button>
      </form>
      <!-- Modal -->



    </div>
  </div>
</div>
{#<script src="https://cdn.jsdelivr.net/npm/vue"></script>#}

{#<script type="text/javascript">#}


{#    let activeGame = new Game();#}


{#    new Vue({#}
{#        el: "#game-view",#}
{#        data: activeGame,#}
{#        delimiters: ['<%', '%>'],#}
{#        computed: {#}
{#            infoMessage: function () {#}
{#                if(this.inProgress) {#}
{#                    return 'Na rade je ' + this.currentTurn;#}
{#                }#}

{#                else if (this.winner) {#}

{#                    if(this.winner === 'O') {#}

{#                        // show reset button#}
{#                        this.showResetButton = true;#}
{#                        this.winnersPlayerOne++;#}
{#                        this.setQuizFormVisibility();#}
{#                    }#}

{#                    else {#}

{#                        // show reset button#}
{#                        this.showResetButton = true;#}
{#                        this.winnersPlayerTwo++;#}
{#                        this.setQuizFormVisibility();#}
{#                    }#}

{#                    return this.winner + ' vyhráva';#}
{#                }#}

{#                else {#}
{#                    return 'Nevyhráva nikto';#}
{#                }#}
{#            }#}
{#        },#}
{#        methods: {#}
{#            setQuizFormVisibility: function() {#}
{#                if(this.winnersPlayerOne === 2 || this.winnersPlayerTwo === 2) {#}
{#                    if(this.winnersPlayerOne === 2) {#}
{#                        this.winnerPlayer = 'O';#}
{#                        this.looserPlayer = 'X';#}
{#                        this.hideGameForm = true;#}

{#                        // set reset button on false#}
{#                        this.showResetButton = false;#}
{#                    }#}

{#                    else {#}
{#                        this.winnerPlayer = 'X';#}
{#                        this.looserPlayer = 'O';#}
{#                        this.hideGameForm = true;#}

{#                        // set reset button on false#}
{#                        this.showResetButton = false;#}
{#                    }#}
{#                }#}
{#            }#}
{#        }#}
{#    });#}
{#</script>#}
