<div class="container">
  {% if fields.table == 'tic-tac-toe' %}
      <score-tic-tac-toe-game></score-tic-tac-toe-game>
  {% else %}
    {% if fields.table == 'memory-game' %}
      <score-with-time-games table="top_players_memory_game"></score-with-time-games>
    {% else %}
      <score-with-time-games table="top_players_tic_tac_toe"></score-with-time-games>
    {% endif %}
  {% endif %}
</div>
