<div class="container">
  {% if fields.table == 'tic-tac-toe' %}
      <score-tic-tac-toe-game></score-tic-tac-toe-game>
  {% else %}
    <div class="white-wrapper mt-4">
      <h2 class="text-center mb-4">Skóre Pexeso</h2>
      {% set pagination = function('paginationHighScore', 'top_players_memory_game') %}
      {{ pagination }}
    </div>
  {% endif %}
</div>
