<div class="container">
  {% if fields.table == 'tic-tac-toe' %}
    <div class="white-wrapper mt-4">
      <h2 class="text-center mb-4">Skóre Piškôrky</h2>
      {% set pagination = function('paginationHighScore', 'top_players_tic_tac_toe') %}
      {{ pagination }}
    </div>
  {% else %}
    <div class="white-wrapper mt-4">
      <h2 class="text-center mb-4">Skóre Pexeso</h2>
      {% set pagination = function('paginationHighScore', 'top_players_memory_game') %}
      {{ pagination }}
    </div>
  {% endif %}
</div>
