<div class="fce-text-with-image" data-template="fce/text-with-image.twig">
  <div class="container">
      {{ fields.text }}
  </div>

  <script>
    document.getElementsByClassName('um-link-alt').innerHTML = 'zabudol si?';
    document.getElementsByClassName('um-field-checkbox-option').innerHTML = 'nechaj ma prihlaseneho?';
  </script>
</div>
