.image-break {
  color: $black;
  position: relative;

  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-text {
      max-width: 37.75rem;
      padding-top: 2.825rem;
      padding-left: 7.6rem;
      margin: 0;
    }
  }
}