.intro-section {
  position: relative;

  &-image {
    width: 78.36938436%;
    height: auto;
  }

  &-rectangle {
    width: 38.93062%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $primary;
    clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0 100%);

    &-content {
      color: $white;
      position: absolute;
      top: 52%;
      left: 19%;

      &-title {
        margin-bottom: 4.4rem;
        word-wrap: break-word;
      }
    }
  }
}