.online-tips {
  margin-bottom: rem(96);

  &-title {
    margin-bottom: rem(28);
  }

  &-content {
    &-image {
      position: relative;
      background-color: $black;
      margin-bottom: rem(32);

      &-title {
        position: absolute;
        bottom: 0;
        margin: 0;
        padding-left: rem(48);
        padding-bottom: rem(88);
        color: $white;
      }

      img {
        width: 100%;
      }
    }
  }
}