#grid {
  overflow: hidden;
}

#playBoard {
  margin-top: rem(20);
  padding: 3rem 0;
  border-radius: 3rem 3rem / 1rem 1rem;
  background: $light-blue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#controlPanel {
  display: flex;
  justify-content: center;
  align-content: center;
}

.playBoard-content {
  width: 40%;

  @include media-breakpoint-down(md) {
    width: 66%;
  }
  @include media-breakpoint-down(sm) {
    width: 74%;
  }
  @include media-breakpoint-down(xs) {
    width: 90%;
  }
}

.box {
  font-size: rem(30);
  width: 33.33%;
  background: $steel-blue;
  float: left;
  line-height: rem(140);
  text-align: center;
  border-color: $light-blue;
  border-style: inset;
  color: $white;
  overflow: hidden;
}

.box-number {
  transform: scale(1);
  transition: all .25s;
}

.box-number:hover {
  color: gold;
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}

.box:hover {
  cursor: pointer;
}


#movesInc, #solution, #msg, #puzzleTime {
  font-weight: bold;
  color: $black;
}

#movesInc, #puzzleTime {
  font-size: rem(14);
}

#solution {
  width: 100%;
}

#solution table, th {
  border: rem(1) solid black;
}

#shuffle {
  width: rem(108);
  height: rem(52);
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share li{
  display: inline;
}

.share-btn {
  width: rem(40);
  height: rem(40);
}

/* animated button */

.button-animated {
  display: inline-flex;
  height: 40px;
  width: 100px;
  border: 2px solid #BFC0C0;
  border-radius: 8px;
  margin: 20px 0 10px 14px;
  background-color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#button-shuffle {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-shuffle a {
  position: relative;
  transition: all 1s ease-Out;
  color: $black;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 1s ease-Out;
}

#button-shuffle:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: sienna;
  transform: rotate(80deg);
}

#button-shuffle:hover a {
  color: $white;
  text-decoration: none;
}
