//.side-toolbar {
//  background-color: $primary;
//  width: rem(100);
//  min-height: 100vh;    // temporary for visualization
//  display: flex;
//  flex-direction: row;
//  justify-content: center;
//  text-align: center;
//
//  &-text {
//    margin-top: 22.75rem;
//    color: $secondary;
//    font-size: rem(40);
//    line-height: rem(53);
//    transform: rotate(90deg);
//  }
//
//  &-hidden-menu {
//    display: none;
//    padding: 2rem;
//    color: #000;
//    background-color: $image-teaser-background;
//
//    ul {
//      padding: 0;
//    }
//
//    li {
//      font-family: nimbus-sans, sans-serif;
//      font-size: rem(16);
//      font-weight: 400;
//      line-height: rem(40);
//      list-style: none;
//    }
//    a {
//      color: $secondary;
//    }
//
//    &-title {
//      font-size: rem(40);
//      font-weight: 600;
//      line-height: rem(52);
//    }
//  }
//}

.side-toolbar {
  background-color: $primary;
  width: rem(100);
  padding: 1rem;
  min-height: 100vh;    // temporary for visualization
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &-text {
    margin-top: 22.75rem;
    color: $secondary;
    transform: rotate(-90deg);
    font-size: rem(40);
    line-height: rem(53);
    cursor: pointer;
  }
}