.table-border-properties {
  border-radius: rem(16);

  thead th {
    border-top: 0;
  }

  @include media-breakpoint-down(sm) {
    td, th {
      border-top: 0 solid $white !important;
    }

    tbody tr {
      border-bottom: rem(2) solid $table-border;
    }
  }
}

#table-search-form {
  max-width: rem(400);
}

.table-header-bottom-border {
  border-bottom: 2px solid $table-border;
}
